/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* #navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 10px 40px;
} */

.nav-logo {
  text-decoration: none;
}

/* .nav-buttons {
  text-align: center;
  padding: 5px 10px; 
  width: auto; 
  border: 9px groove rgb(250, 194, 255);
  border-radius: 10px;
  color: rgb(0, 0, 0);
  background-color: rgb(242, 98, 255);
  font-weight: bold;
  transition: all .25s ease-out;
  text-decoration: none;
} */

/* .nav-buttons:active {
  border-style: ridge;
}

.nav-buttons span {
  position: relative;
}

.nav-buttons span:active {
  top: 2px;
  left: 1px;
} */
/* 
#form-div {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#form-div h1 {
  width: 100%;
} */

/* #members-div {
  width: 49%;
}

#tasks-div {
  width: 49%;
} */

#circle-div {
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  /* position: relative;
  min-width: 300px; */
  /* transform: translate(10%); */
}

.fade-in {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#bottom-circle {
  position: absolute;
  /* left: 50%;
  top: 50%; */
  /* transform: translate(-30%, 20%); */
  width: 100%;
  /* min-width: 300px; */
}

#top-circle {
  position: absolute;
  /* left: 50%;
  top: 50%; */
  /* transform: translate(-50%, 20%); */
  /* min-width: 300px; */
  width: 100%;
}

.spin {
  animation: rotation 5s infinite ease-in-out, fadeOut 3s ease-in-out;
}
.spin-unauth {
  animation: rotation1 2s infinite linear;
}
@keyframes rotation1 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}


@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
    opacity: 1;
  }

  to {
    transform: rotate(5000deg);
    opacity: 0;
  }
}

.ridge-button {
  border-style: ridge;
}