<div style="max-width:330px;">

<table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#FAC2FF">
  <tr>
    <td>
        <h1>Hello <%= @member.name %>!</h1>
        <p><small>you're on</small></p>
        <h4 align="center">~ ~ / <%= @member_task.task.name %> \ ~ ~</h4>
        <p align="right"><small>duty!!!</small></p>
        <p align="center"> \\   <%= @member_task.task.details %>   // </p>
        <h3>-mom</h3>
        <h2 align="center"><a href="https://chore-chart-app.onrender.com/<%= @member_task.chore_wheel.id %>">📈 view ⛒ chart 📉</a></h2>
    </td>
  </tr>
</table>

</div>




