<div style="max-width:330px;">

<table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td>
        <h1>Hello <%= @member.name %>!</h1>
        <h4>your're on </h4>
        <h4 align="center">~ ~ / <%= @member_task.task.name %> \ ~ ~</h4>
        <h4 align="right">duty!!!</h4>
    </td>
  </tr>
</table>

</div>




