<div style="max-width:330px;">

<table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td>
        <h1>Hello <%= @member.name %>!</h1>
        <p>your're on </p>
        <p align="center">~ ~ / <%= @member_task.task.name %> \ ~ ~</p>
        <p align="right">duty!!!</p>
        <h4>-mom</h4>
    </td>
  </tr>
</table>

</div>




